
/*Navigation Styles*/

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: orange;
}


/*Header Styles*/

header {
    border: 5px solid orange;
    text-align: center;
    background-image: url(sunset_banner.jpg);
}

/*Table Styles*/

table {
    text-align: center;
    border: 5px double orange;
    margin: 2px 5px 2px 5px;
}

td {
    border-top: 2px solid lightcoral
}

form {
    border: 5px double orange;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

/*changes the type of display for the text element into a block type, set text color to black, aligns text to center alignment, removes text deco like underline*/ 
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Change the link color and adds a side border on hover */
li a:hover {
  background-color: lightcoral;
  border-left: 5px solid orange;
}

/*Link Styles*/

/*changes the color of the link*/
a:link {
    color:blue
}
/*changes the color of visited links*/
a:visited {
    color:purple;
}
/*changes the color of links being hovered over*/
a:hover {
    color:red
}
/*changes the color of links being focused on*/
a:focus {
    color:purple;
}
/*changes te color of active links*/
a:active {
    color:orange;
}